# FOR USE IN DEVELOPMENT ONLY

DATABASE_URL=postgresql://postgres:secret-dev-password@localhost:5432/docs_dev
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_WEB_VERSION=devserver
NODE_ENV=development
