# FOR USE IN DEVELOPMENT ONLY

# Uncomment and fill in these credentials
# GAMMA_CLIENT_ID=
# GAMMA_CLIENT_SECRET=
# GAMMA_API_KEY_ID=
# GAMMA_API_KEY_SECRET=
DATABASE_URL=postgresql://postgres:secret-dev-password@localhost:5432/docs_dev
JWT_SECRET=secret-dev
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_WEB_VERSION=devserver
NODE_ENV=development
